<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>{JSON:MVC} is a JavaScript Framework for Effortless Web Application Modeling</h1>
                        <a href="https://github.com/jsonmvc/jsonmvc" class="btn btn-outline btn-xl page-scroll">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
